<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="../css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">MusicBook</p>
      <a class="navbar-text" href="/user/?username=<%= user.username %>">View Profile</a>
      <a class="navbar-text" href="/user/edit"> Edit Profile </a>
      <form class="navbar-form navbar-left" action="/song" method="get" style='display:inline;'>
        <input type="text" class="form-control" name="name" placeholder="Input Song Name">
        <input type="submit" class="form-control" value="Search!"></input>
      </form>
      <form class="navbar-form navbar-left" action="/user" method="get" style='display:inline;'>
        <input type="text" class="form-control" name="username" placeholder="Input User Name">
        <input type="submit" class="form-control" value="Search!"></input>
      </form>
      <a class="navbar-text" href="/logout">Log Out</a>
    </ul>
  </div></div>
</nav>

<h1 class="text-center"> Edit Your Profile </h1>
<h3 class="text-center"> Liked Songs </h3>
<table class="table table-striped" width="200">
  <thead>
    <tr>
      <th> Play song </th>
      <th> Remove song </th>
    </tr>
  </thead>
  <tbody>
  <%for (var i = 0; i < user.songs.length; i++){%>
    <tr>
      <td><iframe src="https://embed.spotify.com/?uri=spotify:track:<%= user.songs[i] %>" frameborder="0" allowtransparency="true"></iframe></td>
      <td>
          <form action="/user/dislikeSong/<%= user.songs[i] %>" method="post">
            <div class="form-group has-alert has-feedback">
              <input type="submit" class="form-control" value="Dislike!"></input>
              <span class="glyphicon glyphicon-thumbs-down form-control-feedback" aria-hidden="true"></span>
            </div>
          </form>
      </td>
    </tr>
  <%}%>
  </tbody>
</table>


<h3 class="text-center"> Friends </h3>
<table class="table table-striped" width="200">
  <thead></thead>
  <tbody>
  <%for (var i = 0; i < user.friends.length; i++){%>
    <tr>
      <td><a href="/user/<%= user.friends[i] %>"><%= user.friends[i] %></a></td>
      <td><form class="form-inline" action="/user/removeFriend/<%= user.friends[i] %>" method="post">
        <input align="left" class="form-control" type="submit" value="Remove Friend!"></input>
      </td></form>
    </tr>
  <%}%>
  </tbody>
</table>

<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.min.js"></script>
